Source: nicos-quickyaml
Section: misc
Priority: extra
Maintainer: Georg Brandl <g.brandl@fz-juelich.de>
Build-Depends: debhelper (>= 9.0.0),
 python (>= 2.7),
 python-setuptools,
 python-dev
Standards-Version: 3.9.3

Package: nicos-quickyaml
Architecture: any
Depends: python (>= 2.7),
 python-setuptools
Description: NICOS quick YAML dumper module
